<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>
    <div class="container">
        <div class="copyright" >
            &copy; Copyright <a (click)="onNavigateHome()" [routerLink]="['/']" style="color: black;">
             <strong >Newsfarmers</strong> </a> {{currentYear}}. All Rights Reserved
       
        </div>
    </div>
</footer>

<!-- <div class="credits">
            Developed by <a href="https://younedia.com/" target="_blank" rel="noopener" >YouNedia</a>
        </div> -->