
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<!-- ======= Hero Section ======= -->
<section animation="fadeInUp" delay="100" duration="500" offset="4500" triggerOnce="true" id="hero" style="background: url({{selected?.[0]?.imgSrc}}) top center;">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="0">
        <h1>Welcome to Newsfarmers</h1>
        <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
        <a routerLink="category/biographies" (click)="onNavigateToBiographies()" class="btn-get-started">Biographies</a>
    </div>
</section>
<!-- End Hero Section -->

<main id="main">
    <div class="overlay" [ngClass]="{'overlay':isToggleImage}">
        <!-- ======= About Section ======= -->
       
        <section id="about">
            <div style="text-align: center;">
                <app-loader *ngIf="isLoading"></app-loader>
            </div>
            <div class="container" data-aos="fade-up" *ngIf="!isLoading">
                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <h2 class="title">Few Words About {{randomCelebrity?.name}}</h2>
                        <p>
                            {{randomCelebrity?.description}}
                        </p>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="0">
                            <div class="icon"><i class="bi bi-file-earmark-person"></i></div>
                            <h4 class="title"><a>Profession</a></h4>
                            <p class="description" [innerHTML]="randomCelebrity?.profession"></p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="10">
                            <div class="icon"><i class="bi bi-arrow-up"></i></div>
                            <h4 class="title"><a>Height</a></h4>
                            <p class="description">{{randomCelebrity?.height}}</p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                            <div class="icon"><i class="bi bi-binoculars"></i></div>
                            <h4 class="title"><a>Weight</a></h4>
                            <p class="description">{{randomCelebrity?.weight}}</p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h4 class="title "><a class="readMore" (click)="onNavigateTo(randomCelebrity)">Read more..</a></h4>
                            <p class="description"></p>
                        </div>
                    </div>
                    <div class="col-lg-6 background order-lg-2 order-1" style="background: url({{randomCelebrity?.imgSrc}}) center top no-repeat; " data-aos="fade-left" data-aos-delay="0"></div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Categories Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">Categories</h3>
                    <p class="section-description">Explore Categories</p>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="0">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li (click)="showAll()" [ngClass]="{'filter-active' : isAll}">All</li>
                            <li (click)="showSocialMedia()" [ngClass]="{'filter-active' : isSocialMedia}">Social Media Influencer</li>
                            <li (click)="showSinger()" [ngClass]="{'filter-active' : isSinger}">Punjabi Singer</li>
                            <!-- <li (click)="showLyricist()" [ngClass]="{'filter-active' : isLyricist}">Lyricist</li> -->
                            <li (click)="showBollyWoodActor()" [ngClass]="{'filter-active' : isBollyWoodActor}">Bollywood Actor/Actress</li>
                        </ul>
                    </div>
                </div>
                <div style="text-align: center;">
                    <app-loader *ngIf="isLoadingMoreCelbs"></app-loader>
                </div>
                <div *ngIf="!isLoadingMoreCelbs" class="row portfolio-container" data-aos="fade-up" data-aos-delay="10">
                    <div  class="col-lg-4 col-md-6 portfolio-item punjabi-singer s-hand" *ngFor="let celebrity of punjabiSingerCategory.slice(0,3)" animation="flipInY" delay="0" duration="1000" offset="100" triggerOnce="false">
                        <div style="height: 300px; width: 100%; ">
                            <img src="{{celebrity.imgSrc}}" class="img-fluid" alt="{{ celebrity?.name }}">
                        </div>
                        <div class="portfolio-info">
                            <h4>{{celebrity?.name}}</h4>
                            <p>{{celebrity.profession}}</p>
                            <a data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="View Image"><i (click)="onToggleImage(celebrity.imgSrc);preventCloseOnClick()" class="bx bx-plus"></i></a>
                            <a (mouseenter)="onGetSelectedCelebrity(celebrity)" routerLink="/{{selectedCelebrity}}" (click)="onNavigateTo(celebrity)" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item socialMedia s-hand" *ngFor="let celebrity of socialMediaCategory.slice(0,3)">
                        <div style="height: 300px; width: 100%; ">
                            <img src="{{celebrity.imgSrc}}" class="img-fluid" alt="{{ celebrity?.name }}">
                        </div>
                        <div class="portfolio-info">
                            <h4>{{celebrity?.name}}</h4>
                            <p>{{celebrity.profession}}</p>
                            <a data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="View Image"><i (click)="onToggleImage(celebrity.imgSrc);preventCloseOnClick()" class="bx bx-plus"></i></a>
                            <a (mouseenter)="onGetSelectedCelebrity(celebrity)" routerLink="/{{selectedCelebrity}}" (click)="onNavigateTo(celebrity)" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item  bollywood-actor s-hand" *ngFor="let celebrity of bollywoodCategory.slice(0,3)">
                        <div style="height: 300px; width: 100%; ">
                            <img src="{{celebrity.imgSrc}}" class="img-fluid" alt="{{ celebrity?.name }}">
                        </div>
                        <div class="portfolio-info">
                            <h4>{{celebrity?.name}}</h4>
                            <p>{{celebrity.profession}}</p>
                            <a data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="View Image"><i (click)="onToggleImage(celebrity.imgSrc);preventCloseOnClick()" class="bx bx-plus"></i></a>
                            <a (mouseenter)="onGetSelectedCelebrity(celebrity)" routerLink="/{{selectedCelebrity}}" (click)="onNavigateTo(celebrity)" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= News Section ======= -->
        <section id="team">
            <div class="container" data-aos="fade-up">
                <div class="section-header" style="margin: -55px auto 55px auto;">
                    <h3 class="section-title">Latest News</h3>
                    <p class="section-description">Explore latest news on <em>Newsfarmers</em></p>
                </div>
                <div style="text-align: center;">
                    <app-loader *ngIf="isLoadingNews"></app-loader>
                </div>
                <div class="row" *ngIf="!isLoadingNews">
                    <div class="col-lg-3 col-md-6" *ngFor="let news of latestNews">
                       <div class="member" data-aos="fade-up" data-aos-delay="0" >
                        <a class="newsTitle" (mouseenter)="onHoverSelectedNews(news)" routerLink="news/{{hoveredNews}}" (click)="onNavigateToSelectedNews(news)">
                            <div class="pic" style="background:#333"><img class="newsImg" src="{{news.imgSrc}}" alt="{{news.title}}" ></div>
                            <!-- <h4>Walter White</h4> -->
                          <span  [innerHTML]="news.title"></span>
                        </a> 
                            <div class="social">
                                <a *ngIf="news.twitterSimpleLink" href="{{news.twitterSimpleLink}}" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a *ngIf="news.facebookSimpleLink" href="{{news.facebookSimpleLink}}" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a *ngIf="news.instaSimpleLink" href="{{news.instaSimpleLink}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a *ngIf="news.linkedinSimpleLink" href="{{news.linkedinSimpleLink}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                   
                    </div>
                </div>

            </div>
        </section>
        <!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Reach Us</h3>
                    <p class="section-description">If you want us to create your biography, contact!</p>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-4">
                        <div class="info">
                        </div>
                        <div class="social-links">
                            <a href="https://twitter.com/TheNewsFarmers" target="_blank" rel="noopener" class="twitter social"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/newsfarmers/" target="_blank" rel="noopener" class="facebook social"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/newsfarmers/" target="_blank" rel="noopener" class="instagram social"><i class="bi bi-instagram"></i></a>
                            <a href="mailto:info@newsfarmers.com" title="info@newsfarmers.com" class="linkedin social"><i class="bi bi-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Contact Section -->
    </div>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer *ngIf="!isLoading"></app-footer>
<!-- <a class="close" *ngIf="isToggleImage"></a> -->
<button *ngIf="isToggleImage" class="close " type="button"><div class=" "><svg aria-label="Close"  color="#ffffff" fill="#ffffff" height="24" role="img" viewBox="0 0 24 24" width="24"><polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line></svg></div></button>
<app-backdrop class="backdrop" *ngIf="isToggleImage" [imgSrc]="imgSrc" (event)="preventCloseOnClick()" [isLoading]="isLoadingImage" [isImg]=isImg>
</app-backdrop>
<app-spinner *ngIf="isLoadingImage" [border-color]="borderColor"></app-spinner>